$BG:        #0D011E;
$FG:        #FFFFD8;
$SELECTION: #3f2680;
$COMMENT:   #6272A4;
$CYAN:      #2BDCFF;
$LIGHTCYAN: #BDF3FF;
$GREEN:     #50FA7B;
$ORANGE:    #FD947C;
$PINK:      #FF78B1;
$LIGHTPINK: #FFC4E8;
$PURPLE:    #BD93F9;
$RED:       #FD1D53;
$YELLOW:    #FFFA50;
